body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    color: goldenrod;
    margin-bottom: 20px;
}

p{
    color:#45a049;
}

form {
    margin-bottom: 20px;
}

button {
    background-color: gold;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: silver;
}

#drag-drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    text-align: center;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

#drag-drop-area.drag-over {
    background-color: #e0ffe0;
    border-color: #45a049;
}

#drag-drop-area p {
    color: #333;
    font-size: 16px;
}

#file-input-trigger {
    color: #45a049;
    cursor: pointer;
    text-decoration: underline;
}


#results {
    margin-top: 20px;
}

#results img {
    max-width: 80%;
    height: auto;
    margin: 10px 0;
}

a {
    display: block;
    margin-top: 20px;
    font-size: 16px;
}

/* Estilos para colocar los gráficos lado a lado */
.grafico-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.grafico-box {
    border: 2px solid #333;
    padding: 10px;
    width: 45%;
    text-align: center;
}

.grafico-box img {
    max-width: 100%;
    height: auto;
}

.grafico-box h3 {
    margin-bottom: 10px;
}
